.bounce-1{
    animation-name: bounce-1;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    transform-origin: top;
}
@keyframes bounce-1 {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);

    }
    100%{
        transform: translateY(0);
    }
}

.bounce-2{
    animation-name: bounce-2;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}
@keyframes bounce-2 {
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(0);

    }
    100%{
        transform: translateY(-10px);
    }
}
.blink{
    animation: blink 2s linear  infinite;
}
@keyframes blink{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.right{
    animation: right 2s;
}
@keyframes right{
    0%{
        margin-right: -2000px;
    }
    50%{
        margin-right: 50px;
    }
    100%{
        margin-right: 0;
    }
}
.left{
    animation: left 2s linear;
}
@keyframes left{
    0%{
        margin-left: -2000px;
    }
    50%{
        margin-left: 50px;
    }
    100%{
        margin-left: 0;

    }
}